.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    visibility: hidden;
    opacity: 0;

    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 1s ease;
}

.backdrop.open {
    visibility: inherit;
    opacity: 1;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: wheat;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.1);
}

.close {
    cursor: pointer;
}