<section>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Ipsum ad impedit dolore repudiandae inventore rem illo ducimus atque eligendi perferendis quaerat deserunt optio incidunt ipsa 
        soluta possimus, aspernatur perspiciatis quibusdam provident! Fugit reiciendis similique amet natus omnis. Asperiores, deserunt 
        rerum culpa at, magnam veniam facere ullam architecto illo dicta nemo!
    </p>
</section>

<section>
    <h1>How to use</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Ipsum ad impedit dolore repudiandae inventore rem illo ducimus atque eligendi perferendis quaerat deserunt optio incidunt ipsa 
        soluta possimus, aspernatur perspiciatis quibusdam provident! Fugit reiciendis similique amet natus omnis. Asperiores, deserunt 
        rerum culpa at, magnam veniam facere ullam architecto illo dicta nemo!
    </p>
</section>

<button>Start Exercising!</button>