/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;

    /* font family after google fonts import */

    --background-color: #fff;
    --accent-color: #fff;
    --text-color: #fff;
}