/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;

    /* font family after google fonts import */

    --background-color: #fbfbff;
    --accent-color: #f39237;
    --text-color: #41393e;
    /* --accent2: #668F80; */

    --background-color: hsl(240, 100%, 99%);
    --accent-color: hsl(29, 89%, 58%);
    --text-color: hsl(323, 7%, 24%);

}